html,body {
    height: 100%;
}
/*
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: auto;
    background: #222; 
    color: #888; 
    text-align: center; 
  }
  */
  footer {
      position: fixed;
      bottom: 0;
      background: #222; 
      color: #888; 
      text-align: center; 
      width: 100%;
  }
